{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<style></style>
	<h3>{{user.name}}</h3>
	<label for="verified">Utilisateur vérifié ?</label>
	{% if user.isVerified %}
		<p>oui</p>
	{% else %}
		<p>non</p>
	{% endif %}


	<div>
		<label for="email">Email :
		</label>
		{{user.email}}
		<br>
		<label for="password">Change le mot de passe :
		</label>
		<button type="button">Changer de mot de passe</button>

	</div>

{% endblock %}
