{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<h1>A propos de ce site  </h1>

<p>ce site est une vitrine de mes compétences. il n'est pas prévu que de véritables humains s'inscrivent sur ce site.</p>
<p>Ce site n'est pas conforme aux RGPD il est déconseillé de rentrer tout type d'information personnelle dans aucun des formulaires présents </p>

<p>En cas de problème avec ce site web je suis disponible à l'email suivant <strong>contactdevtalk@gmail.com</strong></p>

{% endblock %}
