{% extends 'base.html.twig' %}

{% block title %}Dev talk - Home
{% endblock %}

{% block body %}

	<div class="container">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<h1>Bonjour
				{{ app.user.getname }}
				! Comment ça va ?</h1>
		{% else %}
			<h1>Créez-vous un compte, c'est gratuit !*</h1>
		{% endif %}
		<!-- Compteur de membres inscrits -->
		<div class="total-members">
			Nombre de membres inscrits :
			{{ totalMembers }}
		</div>

		{# Le reste du contenu de la page d'accueil ici #}


		{#Add latest messages here#}
		<div class="container">
			
		</div>
		{#Add List category here #}
	</div>


{% endblock %}
