{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="login-div">
	<h1>Se connecter</h1>
		<form action="{{ path('app_login') }}" method="post">
			<label for="username">Email:</label><br>
			<input type="text" id="username" name="_username" value="{{ last_username }}"><br>

			<label for="password">Password:</label><br>
			<input type="password" id="password" name="_password"><br>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button type="submit" class="btn btn-primary">Register</button>
		</form>
	</div>

	<style>
		.login-div {
			width: 340px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin: auto;
			display: grid;
			place-items: center;
		}
	</style>
{% endblock %}
