{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!
{% endblock %}

{% block body %}


	<div class="message-div">
		<div>
			<h1>{{message[0].title}}</h1>
			<p>{{message[0].body}}</p>
		</div>

		<div class="primary-message-footer">

			<p>
				Auteur :{{message[0].author.name}}
			</p>
			{% if message[0].author.id == userid %}
				<div>
					<button type="button" id="mod">Modifier
					</button>
					<button type="button">Supprimer</button>
				</div>
			{% endif %}
		</div>

	</div>

	<script>
		console.log("ok");
var btn = document.getElementById("mod");
btn.addEventListener("click", function () { // redirect to home.
window.location.replace("{{ path('app_home') }}");
});
	</script>
	<style>
		.message-div {
			width: 70em;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin: auto; /* Centre horizontalement et verticalement */
		}
		.primary-message-footer {
			display: flex;
			flex-direction: row;
		}
	</style>

{% endblock %}
